auto-install-peers = true
# Enable pre/post scripts (for postui:add)
enable-pre-post-scripts=true
@buf:registry=https://buf.build/gen/npm/v1/

# node-linker=hoisted
strict-peer-dependencies=false
engine-strict=true
resolve-peers-from-workspace-root=true
