@import 'tailwindcss';

@theme {
  --spacing: 4px;

  --radius-none: 0px;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-2xl: 24px;
  --radius-full: 9999px;

  --color-neutral-main: #404040;
  --color-neutral-light: #a3a3a3;
  --color-neutral-dark: #171717;
  --color-neutral-contrast: #fafafa;

  --color-primary-main: #ba4d14;
  --color-primary-light: #f49c43;
  --color-primary-dark: #200b04;
  --color-primary-contrast: #fff8ed;

  --color-secondary-main: #226362;
  --color-secondary-light: #53aea8;
  --color-secondary-dark: #031516;
  --color-secondary-contrast: #f1fcfa;

  --color-unshield-main: #705279;
  --color-unshield-light: #c1a6cc;
  --color-unshield-dark: #180e1b;
  --color-unshield-contrast: #faf7fc;

  --color-destructive-main: #af2626;
  --color-destructive-light: #f17878;
  --color-destructive-dark: #1e0606;
  --color-destructive-contrast: #fef2f2;

  --color-caution-main: #99610f;
  --color-caution-light: #e8c127;
  --color-caution-dark: #201004;
  --color-caution-contrast: #fdfce9;

  --color-success-main: #1c793f;
  --color-success-light: #55d383;
  --color-success-dark: #03160b;
  --color-success-contrast: #f0fdf4;

  --color-base-black: #000000;
  --color-base-black-alt: #0d0d0d;
  --color-base-white: #ffffff;
  --color-base-transparent: transparent;

  --color-text-primary: #fafafa;
  --color-text-secondary: #a3a3a3;
  --color-text-muted: #404040;
  --color-text-special: #f49c43;

  --color-action-hover-overlay: #53aea826;
  --color-action-active-overlay: #0a0a0a26;
  --color-action-disabled-overlay: #0a0a0acc;
  --color-action-primary-focus-outline: #f49c43;
  --color-action-secondary-focus-outline: #53aea8;
  --color-action-unshield-focus-outline: #c1a6cc;
  --color-action-neutral-focus-outline: #a3a3a3;
  --color-action-destructive-focus-outline: #f17878;
  --color-action-success-focus-outline: #55d383;

  --color-other-tonal-stroke: #fafafa26;
  --color-other-tonal-fill5: #fafafa0d;
  --color-other-tonal-fill10: #fafafa1a;
  --color-other-tonal-fill15: #fafafa26;
  --color-other-solid-stroke: #171717;
  --color-other-dialog-background: #2263621a;
  --color-other-overlay: #00000080;
  --color-other-orange-outline: #ba4d14d9;
  --color-other-neutral-outline: #404040d9;

  --font-default: Poppins, sans-serif;
  --font-mono: Iosevka Term, monospace;
  --font-heading: Work Sans;

  --text-text9xl: 8rem;
  --text-text8xl: 6rem;
  --text-text7xl: 4.5rem;
  --text-text6xl: 3.75rem;
  --text-text5xl: 3rem;
  --text-text4xl: 2.25rem;
  --text-text3xl: 1.875rem;
  --text-text2xl: 1.5rem;
  --text-text-xl: 1.25rem;
  --text-text-lg: 1.125rem;
  --text-text-base: 1rem;
  --text-text-sm: 0.875rem;
  --text-text-xs: 0.75rem;
  --text-text-xxs: 0.6875rem;

  --leading-text9xl: 8.25rem;
  --leading-text8xl: 6.25rem;
  --leading-text7xl: 5rem;
  --leading-text6xl: 4.25rem;
  --leading-text5xl: 3.5rem;
  --leading-text4xl: 2.75rem;
  --leading-text3xl: 2.5rem;
  --leading-text2xl: 2.25rem;
  --leading-text-xl: 2rem;
  --leading-text-lg: 1.75rem;
  --leading-text-base: 1.5rem;
  --leading-text-sm: 1.25rem;
  --leading-text-xs: 1rem;
  --leading-text-xxs: 1rem;

  --backdrop-blur-none: 0px;
  --backdrop-blur-xs: 4px;
  --backdrop-blur-sm: 8px;
  --backdrop-blur-md: 16px;
  --backdrop-blur-lg: 32px;
  --backdrop-blur-xl: 64px;

  --background-image-card: linear-gradient(
      136deg,
      rgba(250, 250, 250, 0.1) 6.32%,
      rgba(250, 250, 250, 0.01) 75.55%
  );
  --background-image-card-gradient: linear-gradient(
      136deg,
      rgba(250, 250, 250, 0.1) 6.32%,
      rgba(250, 250, 250, 0.01) 75.55%
  );
  --background-image-neutral-radial-gradient: radial-gradient(
      50% 100% at 50% 100%,
      rgba(163, 163, 163, 0.35) 0%,
      rgba(163, 163, 163, 0) 95%
  );
  --background-image-accent-radial-gradient: radial-gradient(
      50% 100% at 50% 100%,
      rgba(186, 77, 20, 0.35) 0%,
      rgba(186, 77, 20, 0) 95%
  );
  --background-image-unshield-radial-gradient: radial-gradient(
      50% 100% at 50% 100%,
      rgba(112, 82, 121, 0.35) 0%,
      rgba(112, 82, 121, 0) 95%
  );
  --background-image-accent-radial-background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(244, 156, 67, 0.25) 0%,
      rgba(244, 156, 67, 0.03) 100%
  );
  --background-image-unshield-radial-background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(193, 166, 204, 0.25) 0%,
      rgba(193, 166, 204, 0.03) 100%
  );
  --background-image-secondary-radial-background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(83, 174, 168, 0.25) 0%,
      rgba(83, 174, 168, 0.03) 100%
  );
  --background-image-caution-radial-background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(153, 97, 15, 0.25) 0%,
      rgba(153, 97, 15, 0.03) 100%
  );
  --background-image-destructive-radial-background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(175, 38, 38, 0.25) 0%,
      rgba(175, 38, 38, 0.03) 100%
  );
  --background-image-button-hover: linear-gradient(
      0deg,
      rgba(83, 174, 168, 0.15) 0%,
      rgba(83, 174, 168, 0.15) 100%
  );
  --background-image-button-disabled: linear-gradient(
      0deg,
      rgba(10, 10, 10, 0.8) 0%,
      rgba(10, 10, 10, 0.8) 100%
  );
  --background-image-progress-loading: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 50%,
      rgba(255, 255, 255, 0) 100%
  );
  --background-image-shimmer: linear-gradient(
      90deg,
      rgba(250, 250, 250, 0.05) 0%,
      rgba(250, 250, 250, 0.1) 100%
  );
  --background-image-gradient-accent-radial: radial-gradient(
      100% 100% at 0% 0%,
      rgba(244, 156, 67, 0.25) 0%,
      rgba(244, 156, 67, 0.03) 100%
  );
  --background-image-gradient-unshield-radial: radial-gradient(
      100% 100% at 0% 0%,
      rgba(193, 166, 204, 0.25) 0%,
      rgba(193, 166, 204, 0.03) 100%
  );

  --animate-scale: scale 0.15s ease-out;
  --animate-progress: progress 1s linear infinite;
  --animate-shimmer: shimmer 2s infinite;

  --breakpoint-mobile: 0px;
  --breakpoint-tablet: 600px;
  --breakpoint-desktop: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1600px;

  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes progress {
    0% {
      left: -20%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes shimmer {
    0% {
      left: -50%;
    }
    100% {
      left: 150%;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: #0d0d0d;
  color: #fafafa;
}

body {
  @apply font-default text-text-primary;
}

* {
  box-sizing: border-box;
}
