a {
  color: inherit;
  text-decoration: none;
}

body > section {
  position: relative;
  z-index: 0;
}

/* Fix for Prax notifications not showing above dialog backdrops */
body > section[aria-live='polite'] {
  z-index: 9999999999999;
}
