/* apps/minifront/src/index.css */

/* Import the prefixed CSS for v2 components */
@import '@penumbra-zone/ui/style-prefixed.css';

/* Tailwind directives for minifront's own styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for border styling using the --light-brown variable */
* {
  border-color: var(--light-brown);
}

.pe-0 {
  padding-inline-end: 0px !important;
}

.ps-0 {
  padding-inline-start: 0px !important;
}

body {
  min-height: 100vh;
  background-color: black;
}

.v1-bg {
  min-height: 100vh;
  background-color: black;
}
