@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 0%; /* black bg */
    --foreground: 0, 4%, 73%;

    --muted: 0, 0%, 100%; /* white text */
    --muted-foreground: 0, 4%, 73%; /* light-grey text*/

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 0, 2%, 21%; /* border as light-brown */
    --border-secondary: rgba(75, 75, 75, 0.5); /* border as light-brown */
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0, 2%, 21%; /* secondary btn bg  */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --text-secondary: 0, 0%, 100%;

    /* Penumbra base color palette */
    --charcoal: #1d1d1d;
    --charcoal-secondary: #141010;
    --teal: #629994;
    --sand: #847a5b;
    --rust: #8d5728;
    --teal-700: rgba(139, 228, 217, 0.7);
    --sand-700: rgba(200, 184, 128, 0.7);
    --rust-600: rgba(255, 144, 47, 0.6);
  }

  #popup-root {
    width: 400px;
    height: 600px;
    @apply bg-charcoal;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-muted min-h-screen text-[15px] leading-[22px] font-normal font-body;
  }

  @font-face {
    font-family: 'Faktum';
    font-weight: 700;
    src: url('../fonts/Faktum-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Faktum';
    font-weight: 500;
    src: url('../fonts/Faktum-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Faktum';
    font-weight: 600;
    src: url('../fonts/Faktum-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Devanagari Sangam';
    font-weight: 400;
    src: url('../fonts/Devanagari-Sangam-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Devanagari Sangam';
    font-weight: 700;
    src: url('../fonts/Devanagari-Sangam-Bold.ttf') format('truetype');
  }

  .background-size-200 {
    background-size: 200%;
  }

  .border-mask {
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
  }
}
