@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 0%; /* black bg */
    --foreground: 0, 4%, 73%;

    
    --muted: 0, 0%, 100%; /* white text */
    --muted-foreground: 0, 4%, 73%; /* light-grey text*/

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 0, 2%, 21%; /* border as light-brown */
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0, 2%, 21%; /* secondary btn bg  */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --text-secondary: 0, 0%, 100%;

    /* Penumbra base color palette */
    --charcoal: #1d1d1d;
    --teal: #629994;
    --sand: #847a5b;
    --rust: #8D5728;
  }

  #popup-root {
    width: 400px;
    height: 600px;
    @apply bg-charcoal;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-muted min-h-screen text-lg_bold font-body;
  }

  body,
  p,
  li,
  a,
  button {
    @apply font-headline text-sm md:text-[15px] md:leading-[22px] font-semibold md:font-medium;
  }

  @font-face {
    font-family: 'Faktum Bold';
    src:
      local('Faktum Bold'),
      url('../fonts/Faktum-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Faktum Medium';
    src:
      local('Faktum Medium'),
      url('../fonts/Faktum-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Faktum SemiBold';
    src:
      local('Faktum SemiBold'),
      url('../fonts/Faktum-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Devanagari Sangam Regular';
    src:
      local('Devanagari Sangam Regular'),
      url('../fonts/Devanagari-Sangam-Regular.ttf') format('truetype');
  }

  h1 {
    @apply font-headline text-xl leading-[30px] md:text-4xl;
  }

  h2 {
    @apply font-headline text-base md:text-3xl md:leading-8;
  }

  h3 {
    @apply font-headline text-2xl leading-7;
  }

  .button-gradient {
    background-size: 300% 300%;
    transition: 0.5s;
    background-image: linear-gradient(
      to right,
      rgba(139, 228, 217, 0.6) 0%,
      rgba(255, 144, 47, 0.5) 50%,
      rgba(139, 228, 217, 0.6) 100%
    );
  }

  .button-gradient:hover {
    background-position: right center;
  }
}
