@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 0%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Penumbra base color palette */
    --charcoal: #1d1d1d;
    --teal: #629994;
    --sand: #847a5b;
    --rust: #8d5728;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  body,
  p,
  li,
  a,
  button {
    @apply font-body text-base leading-6;
  }

  @font-face {
    font-family: 'Faktum Bold';
    src:
            local('Faktum Bold'),
            url('../fonts/Faktum-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Faktum Medium';
    src:
            local('Faktum Medium'),
            url('../fonts/Faktum-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Faktum SemiBold';
    src:
            local('Faktum SemiBold'),
            url('../fonts/Faktum-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Devanagari Sangam Regular';
    src:
            local('Devanagari Sangam Regular'),
            url('../fonts/Devanagari-Sangam-Regular.ttf') format('truetype');
  }

  h1 {
    @apply font-headline text-4xl leading-10;
  }

  h2 {
    @apply font-headline text-3xl leading-8;
  }

  h3 {
    @apply font-headline text-2xl leading-7;
  }

  .button-gradient {
    background-size: 300% 300%;
    transition: 0.5s;
    background-image: linear-gradient(
                        to right,
                        rgba(139, 228, 217, 0.6) 0%,
                        rgba(255, 144, 47, 0.5) 50%,
                        rgba(139, 228, 217, 0.6) 100%
                      );
  }

  .button-gradient:hover {
    background-position: right center;
  }

  .bg-card-radial {
    background: radial-gradient(33% 50% at 15% 44%, var(--rust), transparent),
                radial-gradient(33% 40% at 105% 42%, var(--teal), transparent),
                radial-gradient(33% 80% at 85% 124%, var(--teal), transparent);
  }
}

