---
name: Build container image
on:
  # Don't build on merge into main:
  # instead, we'll trigger the container build via the "deploy" workflow,
  # which runs on merge to main.
  # push:
  #   branches:
  #     - main

  # Also support ad-hoc and per-repo calls to trigger builds.
  workflow_call:
  workflow_dispatch:
  repository_dispatch:

  # Temporary: build on PRs, to make sure workflow succeeds
  pull_request:
jobs:
  veil:
    runs-on: buildjet-16vcpu-ubuntu-2204
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Docker Hub container registry (for pulls)
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to the GitHub container registry (for pushes)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/penumbra-zone/veil

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: apps/veil
          platforms: linux/amd64
          file: apps/veil/Containerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
