# Publishes extension to chrome web store when a release is made in github.

# `maniftest.json` should already be updated to the desired version before release.
# make sure download-proving-keys contains the correct version tag.

# https://chrome.google.com/webstore/detail/penumbra-wallet/lkpmkhpnhknhmibgnmmhdhgdilepfghe
name: Publish extension

on:
  push:
    tags:
      - '*-?v[0-9]+*'
  workflow_call:
  workflow_dispatch:

jobs:
  compile:
    uses: ./.github/workflows/compile-wasm.yml

  publish:
    environment: ext-publish
    runs-on: ubuntu-latest
    needs: compile

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ hashFiles('**/Cargo.lock') }}-${{ hashFiles('pnpm-lock.yaml') }}-${{ github.ref }}-${{ github.sha }}-publish
          restore-keys: |
            ${{ runner.os }}-turbo-${{ hashFiles('**/Cargo.lock') }}-${{ hashFiles('pnpm-lock.yaml') }}
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version: '21'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm turbo telemetry disable
      - run: pnpm turbo download-keys --force --cache-dir=.turbo
      - run: pnpm webpack --mode=production
        working-directory: apps/extension
      - name: Package up extension
        run: zip -r dist.zip apps/extension/dist
      - name: Upload & release
        uses: penumbra-zone/chrome-extension-upload@v1
        with:
          file-path: dist.zip
          extension-id: lkpmkhpnhknhmibgnmmhdhgdilepfghe
          client-id: ${{ secrets.GOOGLE_CLIENT_ID }}
          client-secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          refresh-token: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
