# Uploads extension dist to chrome dev dashboard when a release is made in github.
# Admins can log into https://chrome.google.com/webstore/devconsole to submit for approval.
# Note: `maniftest.json` should already be updated to the desired version before release.

# Prod: https://chrome.google.com/webstore/detail/penumbra-wallet/lkpmkhpnhknhmibgnmmhdhgdilepfghe
# Beta: https://chrome.google.com/webstore/detail/penumbra-wallet/ejpfkiblcablembkdhcofhokccbbppnc
name: Upload extension

on:
  push:
    tags:
      - '*-?v[0-9]+*'
  workflow_call:
  workflow_dispatch:
  pull_request: # remove this after testing

jobs:
  turbo-compile:
    name: Compile
    uses: ./.github/workflows/compile-wasm.yml

  publish:
    environment: ext-publish
    name: Upload extension dist
    runs-on: buildjet-16vcpu-ubuntu-2204
    needs: turbo-compile

    steps:
      - uses: actions/checkout@v4
      - id: built
        uses: buildjet/cache@v3
        with:
          path: .turbo
          key: ${{ hashFiles('**/Cargo.lock') }}-${{ hashFiles('pnpm-lock.yaml') }}-${{ github.ref }}-${{ github.sha }}-built
          restore-keys: ${{ hashFiles('**/Cargo.lock') }}-${{ hashFiles('pnpm-lock.yaml') }}-${{ github.ref }}-${{ github.sha }}-compiled
      - uses: pnpm/action-setup@v2
      - uses: buildjet/setup-node@v4
        with:
          node-version: '21'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm turbo telemetry disable
      - run: pnpm turbo build --cache-dir=.turbo

      # Outputs beta.zip and prod.zip
      - name: Zip extension versions
        run: pnpm dlx tsx apps/extension/src/utils/zip-extension.ts

      - name: Upload beta
        uses: penumbra-zone/chrome-extension-upload@v1
        with:
          file-path: beta.zip
          extension-id: ejpfkiblcablembkdhcofhokccbbppnc
          client-id: ${{ secrets.GOOGLE_CLIENT_ID }}
          client-secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          refresh-token: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
          publish: false

      - name: Upload prod
        uses: penumbra-zone/chrome-extension-upload@v1
        with:
          file-path: prod.zip
          extension-id: lkpmkhpnhknhmibgnmmhdhgdilepfghe
          client-id: ${{ secrets.GOOGLE_CLIENT_ID }}
          client-secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          refresh-token: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
          publish: false
